body{
    background-color: lightyellow;
}
#todo{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  width: 90vw;
  height: auto;
}
img{
    width: 95%;
    height: 95%;
    /*border: 1px solid red;*/
    border-radius: 2%;
    /*background-color: grey;*/
}
#casillero{
    width: 60%;
    height: 60%;
    background-color:#F0F8FF;
    border-radius: 5%;
}
.botones{
    width:30%;
    margin-left: 4%;
}

.botones h1{
    color:brown;
    font-size: 50px;
    margin-left: -6%;
}
div{
    width: 100%;
}

.fila{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding:5px;
}

.botones button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
    width: 60%;
    border-radius: 5%;
  }

.button1 {
    background-color: #4CAF50;
} /* Green */
.button2 {
    background-color: #008CBA;
} /* Blue */
.button3 {
    background-color: #a1141c;
} /* brown */

.botonexplicacion{
    background-color: #ba9e00;
}

#explicacion{
    display: none;
    font-family: "Lucida Console", Courier, monospace;
    width: 80%;
    margin-left: -6%;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 5%;
}

.inputs{
    display: flex;                  
    flex-direction: row;            
    flex-wrap: wrap;             
    justify-content: left;
    width: 60%;
    font-size: 18px;
    font-weight: bolder;
}

.inputs div{
    width: 40%;
}

.inputs input, label {
    display:block;
}
input{
    width:60%;
    padding: 3%;
    border: 2px solid #555;
    border-radius: 5%; 
}

#error{
    color:red;
}

@media only screen and (max-width: 1200px) {
    #todo{
        width: 98vw;
        height: 98vw;
        margin: auto;
       
    }
    #casillero{
        width: 100%;
        height: 100%;
        padding: 2%;
        background-color: lightyellow;
    }
    .botones{
        width:100%;
        margin-top: 0%;
        margin-left: 0%;
        margin-top: 0%;
      
    }
    .botones h1 {
        text-align:center;
    }

    .botones button{
        font-size: 14px;
        width: 30%;
        height: 50px;
        padding: 10px 20px;
        font-weight: bolder;

    }
    #explicacion{
        width: 90%;
        margin-left: 6%;
        font-weight: bold;
        font-size: 12px;
    }
}